# Exclude sensitive files
passwords.txt
.env

# Exclude sensitive directories
config/

# Exclude IDE and editor specific files
.idea/
.vscode/
*.swp
*.swo

# Exclude dependency directories
node_modules
.DS_Store
.env.local
.env.development.local
.env.production.local
/bundle
.env
token.json
/server/credentials.json


npm-debug.log