<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rainier Backend</title>
  </head>
  <body>
    <h1>Cleaning Service Order Management System</h1>
    <!-- Needs to be finish -->
    <button>Create Service</button>
    <button>Update Service</button>
    <button>Delete Service</button>

    <div>
      <h2>Summary</h2>
      <p>Total order</p>
      <p>Total helper</p>
    </div>
    <div>
      <h3>Order details</h3>
      <p>Customer name</p>
      <p>Item</p>
      <p>Duration</p>
      <p>Helper</p>
      <p>Category</p>
      <p>Price</p>
    </div>
  </body>
</html>
