.headline {
  color: #00bd9d;
}
.navbar-nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.serviceListContainer {
  padding: 20px;
}

.serviceComponent {
  display: flex;
  padding: 10px;
  list-style-type: none;
}

.serviceComponent li {
  margin: 20px;
}

.picture {
  width: 200px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-table {
  border-color:black
}